.heading {
  background-image: linear-gradient(to right, #22bbee, #0033ee);
  color: white;
}
.container {
  max-width: var(--site-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  font-style: italic;
  text-transform: uppercase;
}
.list {
  display: flex;
  justify-content: center;
}
.list-item {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0 15px;
  font-size: 2rem
}
.link {
  color: #fff;
}
.link:hover, .link:focus {
  color: #33ceff
}
